@import url(Variable.css);


.MyInformation{
    width:25%;
    height:90%;

    position: absolute;
    top:5%;
    left: 2.5%;

    background-color: var(--ContentInsideBackgroundColor);
    border-radius: 15px;

    box-shadow: var(--ObjectInsideShadow);

    
}

.Introduction{
    height:55%;
    width:85%;
    
    position: absolute;

    left: 50%;
    bottom: 5%;
    transform: translate(-50%,0);

    

    background-color: var(--MinorColor);
    border-radius: 15px;

    box-shadow: 0 0 15px 5px  rgb(30,30,30);

    text-align: center;

    overflow: hidden;    
}

.IntroductionTexts{
    position: absolute;
    top:10%;
    font-size: var(--BigTextSize);
    z-index: 2;

    line-height: 200%;

    margin-left: 50%;
    translate: -50%;
}

.IntroductionImage{
    position: absolute;
    top:50%;
    
    z-index: 2;

    translate: -50%;
}
@keyframes waveRotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.wave{
    width:55vh;
    height: 55vh;

    border-radius: 35%;

    background-color:var(--MainColor);
    position: absolute;
    top: -20vh;

    translate:-10vh;
    opacity: 0.9;
    animation: waveRotate 12s infinite linear;

    &:nth-child(2){
        opacity: 0.6;
        animation: waveRotate 18s infinite linear;
    }
    
    &:nth-child(3){
        opacity: 0.3;
        animation: waveRotate 24s infinite linear;
    }

    filter: blur(1.5px);
}

.Avatar{
    border:2px solid rgb(30,30,30,0.5);
    border-radius: 50%;
    margin-top: 7.5%;
    box-shadow: 0 0 15px 5px  rgb(30,30,30);
}

.ContestTableTitle{
    position: absolute;
    top:5%;
    right:2.5%;

    height: 5%;
    width: 67.5%;

    font-size: var(--BigTextSize);
    font-style: bold;
 
    background-color: var(--MinorColor);
    border-radius: 1000px;

    box-shadow: 0 0 15px 10px  rgb(30,30,30,0.5);

    padding-left: calc(1.5% + 10px);
    padding-right: calc(1.5% + 10px);

    
}

.ContestTable{
    position: absolute;
    top:15%;
    right: 3.25%;

    height:75%;
    width: calc(64.5% - 10px);

    padding-right: 0.75%;
    overflow-y: auto;

}

.ContestTableShadow{
    position: absolute;
    top:7.5%;
    right:2.5%;

    height:87.5%;
    width: 67.5%;
    border-radius: 0 0 15px  15px ;

    box-shadow: var(--ObjectInsideShadow);
    background-color: var(--ContentInsideBackgroundColor);
}

.ContestTable::-webkit-scrollbar {
    border: 10px solid rgb(30,30,30);
    border-radius: 5px;

    width: 10px;
}


.ContestTable::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(250, 250, 245);
}

.ContestTable::-webkit-scrollbar-thumb:hover {
    background: rgb(225, 225, 210);
}

.CT{
    height: 10%;
    width: 100%;

    background-color: var(--MainColor);
    border: 1px solid whitesmoke ;
    border-radius: 5px;

    font-size: var(--TextSize);

    transition: background-color 0.75s;

    box-shadow: 0 0 10px 10px inset rgb(30,30,30,0.5);

    table-layout: fixed ;
}

.CT:hover{
    background-color: rgb(50, 50, 50);
}

td{
    width: 100%;
    text-align: center;
}

.CTName{width: 40%;}
.CTDate{width: 15%;}
.CTpass{width: 15%;}
.CTRank{width: 15%;}
.CTType{width: 15%;}

