@import url(Variable.css);
@import url(Fonts.css);

@media(min-width:801px){
    .MainContent,.MainContentShadow{
        height:90%;
        width: 70%;
    }

    .textBlock,.codeBlock{width: 50.6vw;}


}
@media(max-width:800px){
    .MainContent,.MainContentShadow{
        height: 90%;
        width: 70%;
    }

    .textBlock,.codeBlock{width: 70.6vw;}
}

.MainContent{
    position: absolute;
    top:5%;
    right:2.5%;

    border-radius: 15px ;

    padding-top: 3.9375vh;
    padding-bottom: 0.1875vh;
    padding-left: 2.25vw;
    padding-right: 2.25vw;


    background-color: var(--ContentInsideBackgroundColor);

    overflow-y: auto ;
    overflow-x: hidden ;

    box-sizing: border-box;

    transition: width 0.4s ease-in-out;
}

.MainContentShadow{
    position: absolute;
    top:5%;
    right:2.5%;

    border-radius: 15px ;

    border-top: 2.5px solid var(--MinorColor);
    box-shadow: var(--ObjectInsideShadow);
    background-color: transparent;


    pointer-events: none;
    z-index: 2;

    transition: width 0.4s ease-in-out;
}

.MainContent::-webkit-scrollbar {
    width: 0px;
}

.textBlock{
    background-color: var(--MainColor);
    color: var(--textBolckColor);
    font-size: var(--ContentTextSize);
     
    width: 100%;

    margin-bottom: 3.375vh;
    padding-left:  17.5px;
    padding-right: 17.5px;
    
    line-height: 1.25;
    
    border: 2.5px solid var(--MinorColor);
    border-radius: 15px;
    box-shadow: var(--ContentShadow);
    overflow-x: auto;

    display: flex;
    flex-wrap: wrap;  
    
    box-sizing: border-box;
}

.textBlock > table {
    border: 2px solid var(--ContentCodeTextColor);
    border-radius: 5px;
}

.textBlock > table >tr,td{
    border: 2px solid var(--ContentCodeTextColor);
    padding: 8px;

    text-align: center;
}

.codeBlock{
    background-color: var(--codeBlockBackgroundColor); 

    width: 100%;

    margin-top: 3.375vh;   
    margin-bottom: 3.375vh;
    
    padding-left: 17.5px;
    padding-right: 17.5px;

    box-shadow:var(--ContentShadow);
    border: 2.5px solid var(--MinorColor);
    border-radius: 15px;

    box-sizing: border-box;

    overflow-x: auto;

    display: flex;
}

.CodeContent{
    color: var(--ContentCodeTextColor);
    font-size: var(--ContentCodeTextSize);  

    display: flex;

    line-height: 125%;
}

.CodeCopyButton{
    transition: background-color 0.25s;

    width:40px;
    height:35px;

    position: absolute;
    right:2.25vw;

    background-color: var(--MinorColorDark);

    border:2.5px solid var(--MinorColor);
    border-radius: 0 15px 0 15px;

    transform: translateY(-2.5px);

    box-sizing: border-box;

    font-size: 20px;
    
    font-family: "Times New Roman", Times, serif;
    color:aliceblue;
}

.CodeCopyButton:hover{
    cursor: pointer;
    transition: background-color 0.25s;
    background-color:var(--MinorColor50);
}

.CodeCopyButton:active{
    transition: background-color 0.25s;
    background-color: var(--MinorColor25);
}

.codeBlock::-webkit-scrollbar,
.textBlock::-webkit-scrollbar {width:10px;height:10px;}

.codeBlock::-webkit-scrollbar-thumb, 
.textBlock::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--scrollbarColor);
}

.codeBlock::-webkit-scrollbar-thumb:hover,
.textBlock::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarHoverColor);
}

.IndexBlock{
    width: 3.5%;

    margin-right: 10px;
    padding-right:10px;
    
    text-align: right;

    background-color:var(--codeBlockBackgroundColor);
    border-right: 5px solid darkslategrey;

    line-height: 125%;

    display: absolute;
}

