@import url(Variable.css);
@import url(Fonts.css);

@media(min-width:801px){
    .selectionMenu,.selectionMenuShadow{
        width:22.5%;
        height:90%;
    }
}
@media(max-width:800px){
    .selectionMenu,.selectionMenuShadow{
        width:22.5%;
        height:90%;
    }
}

.selectionMenu{
    text-align: center;
    position: absolute;
    
    top:5%;
    left: 2.5%;    

    background-color: var(--ContentInsideBackgroundColor) ;
    border-radius: 15px;

    overflow-y: auto;
    overflow-x: hidden;  
    
    transition: border-radius 0.4s ease-in-out,height 0.4s ease-in-out;
}

.selectionMenuShadow{
    background-color: transparent;

    position: absolute;
    top:5%;
    left: 2.5%;

    border-radius: 15px;
    border-top: 2.5px solid var(--MinorColor);
    box-shadow: var(--ObjectInsideShadow);

    pointer-events: none;
    overflow: hidden;

    transition: border-radius 0.4s ease-in-out,height 0.4s ease-in-out,border-top 0.25s ease-in-out;
}

.selectionMenu::-webkit-scrollbar{width: 0;}

.selectionBlockTitleName{
    background-color:transparent;   

    font-size: var(--BigTextSize);
    

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px 5px  rgb(30,30,30);
    border-radius:10px; 
}

.selectionBlock{
    height:5.90625vh;
    width:80%;
   
    background-color: var(--MainColor);

    margin-bottom: 3.375vh;
    margin-left: 50%;

    translate: -50% 3.9375vh;
    
    border-radius:10px; 
    
    transition: top 0.75s;
    transition-timing-function: ease-in-out;
    position: relative;
    top:0;
}

.selectionItem{
    background-color: rgba(70, 90, 85,0);
    font-size: 0;
    color: var(--fontColor_Transparent);

    width: 80%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    position: relative;
    left:10%;

    z-index: -1;
   
    pointer-events: auto;
}

a.selectionItem{text-decoration: none;}

.selectionBlock:not(:hover) .selectionItem{
    transition: color 0.25s ,font-size 0.75s,height 0.75s,background-color 0.75s;
    transition-timing-function: ease-in-out;
    height: 0%;
    font-size: 0;
    color: var(--fontColor_Transparent);
    background-color: var(--MainColor0);
}

.selectionBlock:hover .selectionItem{
    transition: color 0.75s 0.25s,font-size 0.75s 0.25s,height 0.75s,background-color 0.25s;
    transition-timing-function: ease-in-out;
    background-color: var(--MainColor);
    height: 75%;
    font-size: var(--TextSize);
    color: var(--fontColor);    

    &:hover{
        transition: color 0.75s 0.25s,font-size 0.75s 0.25s,height 0.75s,background-color 0.25s;
        background-color: var(--LinkHoverColor);  
    }

}

.MenuIndentationButton{
    position:absolute;

    background-color: var(--MinorColorDark);

    height: 2.5vh;
    width: 13vw;

    top:calc(2vh + 2.5px);
    left:calc(13.75% - 6.5vw);

    border-top: 2.5px solid var(--MinorColor);
    border-bottom: 0px solid transparent;
    border-right: 2.5px solid var(--MinorColor);
    border-left: 2.5px solid var(--MinorColor);
    border-radius: 10px 10px 0px 0px ;

    box-sizing: border-box;

    transition: background-color 0.25s,left 0.5s ease-in-out,top 0.4s ease-in-out;

    &:hover{
        cursor: pointer;
        background-color: var(--MinorColor50);
    }

    &:active{background-color: var(--MinorColor75);}
}