@import url(Variable.css);





.DataTypeHighlight{
    color: brown;
}

.KeyWordHighlight{
    color: cadetblue;
}

.StringCharHighlight{
    color:darkorange;
}

.DirectiveHighlight{
    color:darkslateblue;
}

.NumberHighlight{
    color:darkgoldenrod;
}

.CommentHighlight{
    color: gray;
}
