:root{
    --fontColor:rgb(250, 250, 240);
    --fontColor_Transparent:rgba(250,250,240,0);

    --background-light:rgb(60,60,60);
    --background-dark:rgb(50,50,50);

    --MainObjectShadow:0 0 12.5px 10px rgba(30,30,30,0.9), 0  0 12.5px 2px inset rgb(75,75,75);

    --BigTextSize:14pt;
    --TextSize:12.5pt;

    --MenuTextSize:18pt;
    --MenuTitleSize:20pt;

    --codeTextColor:antiquewhite;
}