:root{
    --fontColor:rgb(235,235,225);
    --fontShadow:0 0 4px rgb(250,250,240);
    --fontColor_Transparent:rgba(250,250,240,0);

    --fontWeight:400;

    --ContentInsideBackgroundColor:rgb(50,50,50);

    --MainObjectShadow:0 0 7.5px 7.5px rgb(35,40,40,1), 0  0 7.5px 3.75px inset rgb(50,50,50);
    --ObjectInsideShadow:0 0 7.5px 5px inset rgba(30, 30, 30,0.75); 
    --ContentShadow:0 0 7.5px 5px  rgba(30, 30, 30,0.75);

    --BigTextSize:min(2.25vh,1.125vw);
    --TextSize:min(1.8vh,0.9vw);
    --textBlockColor1:#aaccff;
    --textBlockColor2:#ffccaa;

    --MenuTextSize:min(2.75vh,1.375vw);
    --MenuTitleSize:min(3.5vh,1.75vw);

    --ContentTextSize:17.5px;
    
    --ContentCodeTextColor:antiquewhite;
    --ContentCodeTextSize:15px;

    --scrollbarColor:rgb(250,250,245);
    --scrollbarHoverColor:rgb(225, 225, 210);

    --MainColor:rgba(45,45,45,1);
    --MainColor0:rgba(45,45,45,0);    
    --MainColor25:rgba(45,45,45,0.25);    
    --MainColor50:rgba(45,45,45,0.5);    
    --MainColor75:rgba(45,45,45,0.75);    

    --MinorColor:rgba(50, 65, 75,1);
    --MinorColor0:rgba(50, 65, 75,0);
    --MinorColor25:rgba(50, 65, 75,0.25);
    --MinorColor50:rgba(50, 65, 75,0.5);
    --MinorColor75:rgba(50, 65, 75,0.75);
    --MinorColorLight:rgba(60, 75, 85,1);
    --MinorColorDark:rgba(40,55,65,1);

    --LinkHoverColor:rgb(255,255,255,0.05);

    --codeBlockBackgroundColor:rgba(30,30,30);
}