body {
    background-color: rgb(250, 250, 245);
    color: rgb(45, 45, 45);
    padding: 0 200px;
}
a:link {
    color: rgba(50, 50, 50, 0.95);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(50, 50, 50, 0.95);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: rgb(50, 145, 255, 0.75);
    text-decoration: underline;
}

.MainPageList{
    font-weight:bold;
    background-color:#00000030;
    text-align:center;
    word-spacing:5em;
    padding:10px 100px;
}

.codeStyle{
    background-color: rgb(50,50,50);
    color:rgb(230,230,230);
}